{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="d-flex p-2" style="display: flex; flex-direction: column; margin: 0 auto; align-items: center;">

  <br>
  <h3>Name: {{movie.Series_Title  }} </h3>
  <h3>Released Year: {{movie.Released_Year  }} </h3>
  <h3>Genre: {{movie.Genre  }} </h3>
  <h3>IMDB Rating: {{movie.IMDB_Rating  }}</h3><span>votes: {{ movie.No_of_Votes }}</span>
  <img src="{{ movie.Poster_link }}" class="center">

  <h3>Overview:  {{movie.Overview  }} </h3>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>



{% endblock %}
