{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="card mx-auto" style="width: 23rem;">

  <div class="card-body">

    <h1 class="card-title" >{{movie.Series_Title  }}</h1>
    <p>Released Year: {{movie.Released_Year  }} </p>
    <p>Genre: {{movie.Genre  }} </p>
    <p>IMDB Rating: {{movie.IMDB_Rating  }}</p>
    <p>Run time: {{movie.Runtime  }}</p>
    <p>Meta score: {{movie.Meta_score  }} <span>(reputed critics) </span></p>
    <p>Director: {{movie.Director  }}</p>
    <p>Stars: {{movie.star1 }}, {{ movie.star2 }}, {{ movie.star3 }}, {{ movie.star4 }}</p>
    <p>Votes: {{movie.No_of_Votes  }}</p>
    <p>Gross: {{movie.Gross  }}</p>

    <p class="card-text">{{ movie.Overview  }}</p>


    <img src="{{ movie.Poster_link }}" class="card mx-auto">

  </div>

</div>



{% endblock %}
